.gif_01d{
    background: url("./sun.gif");
}

.gif_01n{
    background: url("./night.gif");
}

.gif_02d{
    background: url("./sun.gif");
}

.gif_02n{
    background: url("./night.gif");
}

.gif_03d{
    background: url("./clouds.gif");
}

.gif_03n{
    background: url("./clouds.gif");
}

.gif_04d{
    background: url("./clouds.gif");
}

.gif_04n{
    background: url("./clouds.gif")
}

.gif_09d{
    background: url("./rain.gif");
}

.gif_09n{
    background: url("./nightRain.gif");
}

.gif_10d{
    background: url("./rain.gif");
}

.gif_10n{
    background: url("./nightRain.gif");
}

.gif_11d{
    background: url("./lightning.gif");
}

.gif_11n{
    background: url("./lightning.gif");
}

.gif_13d{
    background: url("./snow.gif");
}

.gif_13n{
    background: url("./snow.gif");
}

.gif_50d{
    background: url("./fog.gif");
}

.gif_50n{
    background: url("./fog.gif");
}